*{
    margin: 0;
    padding: 0;
}
.header {
    background-image: url(background_2.jpg);
    min-height: 100px;
    overflow: hidden;
    border-bottom: 10px solid yellow;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.logo {
    width: 20%;
    float: left;
}

.logo h1{
    font-weight: bold;
    font-size: 40px;
    color: white;
    padding-top:20px;
}

.slider {
    overflow: hidden;
    background-image: url(background_3.jpg);
    min-height: 400px; 
    padding: 45px 0;
    border-bottom: 10px solid yellow;
}

.slider_image {
    width: 35%;
    float: left;
}
.slider_image img{
    width: 100%;
    border: 11px solid white;
    margin: 22px 0px;
}

.slider_content {
    width: 50%;
    float: right;
    margin-top: 40px;
    padding-left: 30px;
    background-color: rgba(0,0,0,.6)
}
.slider_content h1{
    font-weight: bold;
    font-size: 60px;
    color: Yellow;
    padding: 20px 0px;
    
}
.slider_content h2{
    font-weight: bold;
    font-size: 40px;
    color: white;
    padding: 20px 0px;
    
}
.slider_content p{
    font-size: 24px;
    color: White;
    padding: 13px 0px;
    
}
.content {
    min-height: 600px;
    overflow: hidden;
    background-image:url(background.jpg) ;
}
.about{
    margin-top: 30px;
    margin-left: 70px;
    border: 8px solid White;
    height: 400px;
    width: 900px;
    float: left;
    background-color: rgba(0,0,0,.5)
    
}
.about h3{
    font-size: 30px;
    color: yellow;
    padding-top: 10px;
    border-bottom: 5px solid white;
    padding-left: 20px;
    
}
.about p{
    font-size: 25px;
    color: white;
    padding: 20px 20px;
}

.content_2 {
    min-height: 600px;
    overflow: hidden;
    background-image:url(background_1.jpg) ;
}
.hobbies{
    margin-top: 30px;
    margin-right: 70px;
    border: 8px solid White;
    height: 500px;
    width: 900px;
    float: right;
    background-color: rgba(0,0,0,.85);
    
}
.hobbies h3{
    font-size: 30px;
    color: yellow;
    padding-top: 10px;
    border-bottom: 5px solid white;
    padding-left: 20px;
}
.hobbies p{
    color: white;
    font-size: 27px;
    padding: 30px 20px;
    
}
.content_3{
     min-height: 600px;
    overflow: hidden;
    background-image:url(background_4.jpg) ;
    
}
.education{
    margin-top: 30px;
    margin-left: 70px;
    border: 8px solid White;
    height: 500px;
    width: 900px;
    float: left;
    background-color: rgba(0,0,0,.6);
}
.education h3{
    font-size: 30px;
    color: yellow;
    padding-top: 10px;
    border-bottom: 5px solid white;
    padding-left: 20px;
}
.education p{
    color:white;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}